.dynamic-label {
  font-family: "Roboto-Regular";
  color: #707070;
  font-size: 18px;
  margin-top: 10px;
}
.has-error {
  margin: 4px 0px;
  padding: 5px 16px;
  font-size: 14px;
  font-family: Roboto-Medium;
  font-family: Roboto-Regular;
  color: red;
  li {
    padding: 5px 0px;
    margin-left: 5px;
  }
}

.dynamic-input {
  box-shadow: 0px 0px 6px #00000029;
  border: 0.5px solid #4112c85c;
  //   color: white;
  border-radius: 8px;
  margin: 5px 0px;
  min-height: 43px;
  --padding-start: 10px !important;
}

.disabled-tag {
  pointer-events: none !important;
}

.enabled-tag {
  pointer-events: all !important;
}

.choose-file{
  height: 22px;
  border: 1px solid black;
  font-size: 13px;
  width: 83px;
  text-align: center;
  padding-top: 2px;
  margin-left: 11px;
  color: black;
}

.choose-file-disabled{
  @extend .choose-file;
  cursor: not-allowed;
  pointer-events: none;
}
