.upload-card {
  box-shadow: 0px 0px 6px #00000029;
  border: 0.5px solid #4112c880;
  font-family: Roboto-Regular;
  font-size: 15px;
  color: #827e7e;
  text-align: center;
  padding: 20px;
  border-radius: 13px;
  margin: 16px 0px;

  .upload-icon {
    margin: 20px;
    font-size: 40px;
  }
  .upload-button {
    margin: 0px 40px;
    text-transform: capitalize;
  }
}

.file-list-card {
  box-shadow: 0px 0px 6px #00000029;
  border: 0.5px solid #4112c880;
  font-family: Roboto-Regular;
  font-size: 15px;
  color: #827e7e;
  padding: 20px;
  border-radius: 13px;
  margin: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  .file-area {
    display: flex;
    align-items: center;
    ion-icon {
      font-size: 30px;
    }
    .filename {
      padding-left: 10px;
      white-space: pre-line;
      width: 206px;
    }
  }

  .success {
    font-size: 25px;
    color: rgb(47, 189, 47);
  }
  .error {
    font-size: 25px;
    color: red;
  }
}
.btn-area {
  padding: 16px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .checkarea {
    align-items: center;
    display: flex;
    .name {
      padding-left: 20px;
      text-align: left;
      font-family: Roboto-Regular;
      letter-spacing: 0px;
      color: #827e7e;
      opacity: 1;
    }
  }
  ion-button {
    text-transform: capitalize;
    width: 150px;
  }
}
