ion-button.select-btn {
  font-size: 15px;
  color: white;
  text-transform: none;
  font-family: "Roboto-Regular";
  min-width: 100px;
  background-color: #864bd6;
  border-radius: 47px;
  box-shadow: 0px 3px 6px #00000029;
}
