<ion-content class="ion-padding">
  <app-background></app-background>
  <ng-container>
    <div class="page-center flex-column">
      <div class="container_area">
        <div class="logo_area">
          <ion-img src="../../../../assets/image/logo.svg"></ion-img>
        </div>

        <ion-slides pager="true">
          <ion-slide>
            <div class="slide">
              <img src="../../../../assets/image/PersonalInvestmentAdvisor.svg" />
              <h2><b>Personal Investment Advisor</b></h2>
              <div class="slide-content">
                Personalized stock and mutual fund investment advice in India, USA & Canada
              </div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide">
              <img src="../../../../assets/image/GlobalAdvisor.svg" />
              <h2><b>Global Advisor</b></h2>
              <div class="slide-content">
                Join thousands of investors from over 22 Indian states and 30 countries in making smart investments
              </div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide">
              <img src="../../../../assets/image/CuttingEdgeResearch.svg" />
              <h2><b>Cutting-Edge Research</b></h2>
              <div class="slide-content">
                Research that is backed by our proprietary Artificial Investment & Machine Leaning algorithm - Vantage
              </div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide">
              <img src="../../../../assets/image/StartSmall.svg" />
              <h2><b>Start Small</b></h2>
              <div class="slide-content">Minimum investments starting as low as INR. 1,000</div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide">
              <img src="../../../../assets/image/StellarPerformance.svg" />
              <h2><b>Stellar Performance</b></h2>
              <div class="slide-content">We are long term investors with a track record of out-performance</div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="slide">
              <img src="../../../../assets/image/HighFlexibility.svg" />
              <h2><b>High Flexibility</b></h2>
              <div class="slide-content">
                You can use any trusted broker to make your investments based on our advice.
              </div>
            </div>
          </ion-slide>
        </ion-slides>

        <app-nk-button shape="round" expand="block" class="prime-btn" (onClick)="login()">Login</app-nk-button>
      </div>
    </div>
  </ng-container>
</ion-content>
