.transaction-table {
  width: 100%;
  margin-top: 16px;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f3f0fb;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  th {
    width: 120px;
  }

  thead {
    color: white;
    font-size: 18px;
    font-family: Roboto-Regular;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    tr,
    th {
      padding: 16px 0px;
      background-color: #854ad5;
    }
    th:nth-child(1) {
      border-top-left-radius: 16px;
    }
    th:nth-child(3) {
      border-top-right-radius: 16px;
    }
  }
  tbody {
    tr,
    td {
      padding: 16px 0px;
      text-align: center;
    }
    td.link {
      color: #507df9;
      text-decoration: underline;
    }
    tr:nth-child(even) {
      td {
        background-color: #b592e5;
      }
    }
  }
}

.br-r {
  border-top-right-radius: 16px;
}

.url {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.disclaimer {
  padding: 16px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  font-size: 13px;
  text-align: justify;
}
