<ion-content class="ion-padding">
  <app-background></app-background>

  <ng-container *ngIf="(commonState$ | async) as state">
    <div class="page-center flex-column">
      <div class="container_area">
        <div class="logo_area">
          <ion-img src="../../../../assets/image/logo.svg"></ion-img>
        </div>
        <ion-text class="text-content text-left"> Set your password</ion-text>
        <ng-container
          *ngIf="passwordForm?.controls?.password?.dirty && passwordForm?.controls?.password?.valid; else errortemplate"
        >
        </ng-container>
        <ion-item lines="none" class="input_area" [formGroup]="passwordForm">
          <ion-icon src="../../../../assets/icon/lock.svg"></ion-icon>
          <ion-input
            formControlName="password"
            class="nk-input"
            [type]=" passwordEyeShow ? 'text' : 'password'"
            placeholder="Enter new password"
          ></ion-input>
          <ion-icon
            (click)="passwordEyeShow = passwordEyeShow ? false : true"
            [name]="passwordEyeShow ? 'eye-outline': 'eye-off-outline' "
          ></ion-icon>
        </ion-item>
        <ng-container
          *ngIf="passwordForm?.controls?.confirmPassword?.dirty && passwordForm?.controls?.confirmPassword?.invalid"
        >
          <ul class="has-error">
            <li>Confirm password is incorrect / not valid</li>
          </ul>
        </ng-container>
        <!--<ng-container
         *ngIf="passwordForm?.controls?.confirmPassword?.dirty && passwordForm?.controls?.confirmPassword?.valid; else errortemplate1"
         >
        </ng-container> -->

        <ion-item lines="none" class="input_area" [formGroup]="passwordForm">
          <ion-icon src="../../../../assets/icon/lock.svg"></ion-icon>
          <ion-input
            formControlName="confirmPassword"
            class="nk-input"
            [type]=" confirmPasswordEyeShow ? 'text' : 'password'"
            placeholder="Enter confirm password"
          ></ion-input>
          <ion-icon
            (click)="confirmPasswordEyeShow = confirmPasswordEyeShow ? false : true"
            [name]="confirmPasswordEyeShow ? 'eye-outline': 'eye-off-outline' "
          ></ion-icon>
        </ion-item>
        <app-nk-button
          [disabled]="!passwordForm?.valid"
          shape="round"
          expand="block"
          class="prime-btn"
          (onClick)="submit(state)"
          >Submit</app-nk-button
        >
        <div class="ion-back" *ngIf="commonService.isChangePassword === true" (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
          &nbsp; Back
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>

<ng-template #errortemplate>
  <ul class="has-error" *ngIf="!passwordForm?.controls?.password?.valid && passwordForm?.controls?.password?.dirty">
    <div
      style="font-family: Roboto-Medium; padding: 10px 0px"
      *ngIf="passwordForm?.controls?.password?.dirty && passwordForm?.controls?.password?.errors"
    >
      Password must contain
    </div>
    <li
      *ngIf="
        !passwordForm?.controls?.password?.valid &&
        passwordForm?.controls?.password?.dirty &&
        passwordForm?.controls?.password?.errors?.required
      "
    >
      This field is required or not valid
    </li>
    <li
      *ngIf="passwordForm?.controls?.password?.dirty && passwordForm?.controls?.password?.errors?.validateOneUppercase"
    >
      One Uppercase letter
    </li>
    <li
      *ngIf="passwordForm?.controls?.password?.dirty && passwordForm?.controls?.password?.errors?.validateOneLowercase"
    >
      One Lowercase letter
    </li>
    <li *ngIf="passwordForm?.controls?.password?.dirty && passwordForm?.controls?.password?.errors?.validateOneNumeric">
      One Numeric letter
    </li>
    <li
      *ngIf="passwordForm?.controls?.password?.dirty && passwordForm?.controls?.password?.errors?.validateOneSpecialChar"
    >
      One Special character ( , . <> / # @ $ ! % * ? & )
    </li>

    <li *ngIf="passwordForm?.controls?.password?.dirty && passwordForm?.controls?.password?.errors?.minlength">
      Password must be minimum 8 character
    </li>
  </ul>
</ng-template>

<ng-template #errortemplate1>
  <ul
    class="has-error"
    *ngIf="!passwordForm?.controls?.confirmPassword?.valid && passwordForm?.controls?.confirmPassword?.dirty"
  >
    <div
      style="font-family: Roboto-Medium; padding: 10px 0px"
      *ngIf="passwordForm?.controls?.confirmPassword?.dirty && passwordForm?.controls?.confirmPassword?.errors"
    >
      Password must contain
    </div>
    <li
      *ngIf="
          !passwordForm?.controls?.confirmPassword.valid &&
          passwordForm?.controls?.confirmPassword.dirty &&
          passwordForm?.controls?.confirmPassword.errors?.required
        "
    >
      This field is required or not valid
    </li>
    <li
      *ngIf="passwordForm?.controls?.confirmPassword?.dirty && passwordForm?.controls?.confirmPassword?.errors?.validateOneUppercase"
    >
      One Uppercase letter
    </li>
    <li
      *ngIf="passwordForm?.controls?.confirmPassword?.dirty && passwordForm?.controls?.confirmPassword?.errors?.validateOneLowercase"
    >
      One Lowercase letter
    </li>
    <li
      *ngIf="passwordForm?.controls?.confirmPassword?.dirty && passwordForm?.controls?.confirmPassword?.errors?.validateOneNumeric"
    >
      One Numeric letter
    </li>
    <li
      *ngIf="passwordForm?.controls?.confirmPassword?.dirty && passwordForm?.controls?.confirmPassword?.errors?.validateOneSpecialChar"
    >
      One Special character ( , . <> / # @ $ ! % * ? & )
    </li>
    <li
      *ngIf="passwordForm?.controls?.confirmPassword.dirty && passwordForm?.controls?.confirmPassword.errors?.minlength"
    >
      Password must be minimum 8 character
    </li>
  </ul>
</ng-template>
