.dynamic-input {
  box-shadow: 0px 0px 6px #00000029;
  border: 0.5px solid #4112c85c;
  //   color: white;
  border-radius: 8px;
  margin: 5px 0px;
  min-height: 43px;
  --padding-start: 10px !important;
}
