.background-image {
  background-image: url("../../../../assets/image/background.png");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #8a6ddc;
  --background: #8a6ddc;
}
