.inputs {
  padding-left: 5px;
  .email-input {
    border: 1px solid #70707063;
    border-radius: 8px;
    background: #cfcece40;
    margin-top: 5px;
    --padding-start: 10px;
    --placeholder-color: #b5a8a8;
  }

  margin-top: 10px;
  margin-bottom: 10px;
}

ion-button {
  margin: 20px;
}
