.prime-btn {
  --background: #f8d646;
  // height: 54px; // xxhdpi (18dp);
  height: 48px;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto-Medium;
  font-size: 18px; // xxhdpi (6.7dp);
}
