.radio {
  margin-top: 30px;
  .head-label {
    font-size: 18px;
    font-family: Roboto-Regular;
    color: #4a4a4a;
    padding-left: 16px;
  }
  ion-radio-group {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .radio-area {
      display: flex;
      align-items: center;
    }
  }
}

.transaction-table {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f3f0fb;
  th {
    width: 120px;
  }

  thead {
    color: white;
    font-size: 18px;
    font-family: Roboto-Regular;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    tr,
    th {
      padding: 16px 0px;
      background-color: #854ad5;
    }
    th:nth-child(1) {
      border-top-left-radius: 16px;
    }
    th:nth-child(3) {
      border-top-right-radius: 16px;
    }
  }
  tbody {
    tr,
    td {
      padding: 16px 0px;
      text-align: center;
      color: #797272;
    }
    td.link {
      color: #507df9;
      text-decoration: underline;
    }
    tr:nth-child(even) {
      td {
        background-color: #f3f0fb;
      }
    }
  }
}
