.searchlabel {
  font-size: 18px;
  color: #000000;
  margin: 10px 0px;
}

.searchbar::placeholder {
  font-size: 11px;
  color: #000000;
}

.screener {
  color: #3e3e3f;
  .desc {
    color: #000000;
    padding: 16px;
  }
  ion-item {
    color: #3e3e3f;
  }
}
