.request-advice-card {
  margin: 16px;
  border-radius: 13px;
  background: #ffffff;
  box-shadow: 0px 3px 15px #00000040;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto-Medium;
    font-size: 20px;
    color: #4a4a4a;
    border-bottom: 1px solid #70707046;
    height: 80px;
  }
  .content {
    padding: 16px;
    .label {
      color: #4a4a4a;
      font-family: Roboto-Medium;
      font-size: 15px;
      margin: 5px;
      margin-bottom: 20px;
    }

    .radio {
      margin-top: 30px;
      ion-radio-group {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        .radio-area {
          display: flex;
          align-items: center;
          ion-label {
            padding-left: 10px;
          }
        }
      }
    }
  }

  .toggle {
    ion-toggle {
      width: 120px;
      height: 35px;
      --background: #864bd6;
      --background-checked: #41cb04;
      --handle-background: #ffffff;
      --handle-background-checked: #ffffff;
      --handle-width: 35px;
      --handle-height: 35px;
      --border-radius: 53px;
      --handle-box-shadow: 0px 3px 6px #00000029;
    }

    ion-toggle.toggle-checked::after {
      display: none;
    }
    ion-toggle.toggle-checked::before {
      display: block;
    }

    ion-toggle::before {
      position: absolute;
      top: 25px;
      left: 30px;
      content: "Tax Savings";
      color: #ffffff;
      font-size: 10px;
      z-index: 1;
      display: none;
    }

    ion-toggle::after {
      position: absolute;
      top: 25px;
      right: 25px;
      content: "No Tax Savings";
      color: #ffffff;
      font-size: 10px;
      z-index: 1;
    }
  }

  .btn-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }

  .tax-area {
    margin-top: 12px;
  }

  .textarea-input {
    box-shadow: 0px 0px 6px #00000029;
    border: 0.5px solid #4112c85c;
    border-radius: 8px;
    margin: 5px 0px;
    --padding-start: 10px;
  }
}
#ok{color: #868080 !important;}
