<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="header-title">Chat With Us</div>
    <app-logout slot="end"></app-logout>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- TODO : this is latest one -->
  <!-- <iframe
    src="https://tawk.to/chat/5f7306034704467e89f32883/default"
    style="min-width: 100vw; min-height: 100vh"
    frameborder="0"
    ></iframe> -->
  <!-- TODO : this is latest end -->

  <!--Start of Tawk.to Script-->
  <!-- <script type="text/javascript">
  console.log('chat with us');
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5f7306034704467e89f32883/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script> -->

  <!--End of Tawk.to Script-->

  <!-- <iframe src="https://embed.tawk.to/5f7306034704467e89f32883/default" class="chatbox"></iframe> -->
  <!-- <iframe src="https://apkpure.com/tawk-to/to.tawk.android" class="chatbox"></iframe> -->
  <!-- <iframe
    src="https://www.tawk.to/features/iphone-app/#:~:text=The%20mobile%20tawk.to%20app,tawk.to%20Android%20APP%20here"
    class="chatbox"
  ></iframe> -->
</ion-content>
